<header>
    <nav>
        <img src="" alt="" />
        <ul class="nav__menus">
            <li class="nav__menu"><a href="#">Home</a></li>
            <li class="nav__menu"><a href="">About Us</a></li>
            <li class="nav__menu"><a href="">Product</a></li>
            <li class="nav__menu"><a href="">Contact</a></li>
        </ul>
        <div>
            <img
                src="/assets/icon-shopping_cart.svg"
                alt="shopping cart icon"
            />
            <img src="/assets/icon-profile.svg" alt="profile icon" />
        </div>
    </nav>
</header>
