@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --clr-primary: #FAF9F6;
  --clr-secondary: #242124;
  --clr-accent: #FF9F00;
  --clr-gray: #D9D9D9;
  --clr-white: #FCFCFC;
  --clr-gray-400: #888;
  --ff-main: 'Inter', 'sans-serif'
}

@layer base {
  body {
    font-family: var(--ff-main);
    background-color: var(--clr-primary)
  }
  footer {
    background-color: var(--clr-gray);
  }
}

@layer components {
  .footer-header {
    text-transform: uppercase;
    font-weight: 500;
  }
  .footer-li {
    font-size: 0.7rem;
    font-weight: 500;
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 24
}

/* Delete later */

/* * {
	outline: red solid 1px;
} */

.btn-add {
  color: var(--clr-primary);
  background-color: var(--clr-accent);
}

.card__product-mobile{
  border: solid black 1px;
}

.card__product-mobile:hover {
  background-color: #888;
}

.dropdown {
  position: relative;
  
}

.dropdown button {
  background-color: var(--clr-primary);
  color: var(--clr-secondary);
  padding: 10px 15px;
  font-size: 16px;
  border: solid var(--clr-secondary) 1px;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown button:hover {
  background-color: var(--clr-gray);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: #e9ecef;
}

.dropdown:hover .dropdown-content {
  display: block;
}